body {
  margin: 0;
}

.splash {
  text-align: center;
  margin: 10% 0 0 0;
  box-sizing: border-box;
}
.splash .message {
  font-size: 72px;
  line-height: 72px;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page-host {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.ui.main.container {
    position: relative;
    /*width: 80% !important;*/
    left: 0px;
    /*margin-left: auto !important;*/
    /*margin-right: auto !important;*/
    height: calc(100% - 100px);
}
@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .ui.main.container {
      width: 60%;
      margin-left: auto !important;
      margin-right: auto !important;
  }
}

.ui.grid {
  height: initial;
}
body .ui.button:not(.icon)>.icon:not(.button):not(.dropdown) {
    margin: 0;
}

.ui.form .text.white {
  color: #FFFFFF;
}
.ui.form .text.grey {
  color: #CCCCCC;
}
.ui.form .text.black {
  color: #1B1C1D;
}
.ui.form .text.yellow {
  color: #F2C61F;
}
.ui.form .text.teal {
  color: #00B5AD;
}
.ui.form .text.red {
  color: #D95C5C;
}
.ui.form .text.purple {
  color: #564F8A;
}
.ui.form .text.pink {
  color: #D9499A;
}
.ui.form .text.orange {
  color: #E07B53;
}
.ui.form .text.green {
  color: #5BBD72;
}
.ui.form .text.blue {
  color: #3B83C0;
}

.item.au-enter {
    opacity: 0!important;
}
.item.au-enter-active {
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;
}
.item.au-leave-active {
    -webkit-animation: fadeOut 1s;
    animation: fadeOut 1s;
}

.list.au-stagger {
    -webkit-animation-delay: 100ms;
    animation-delay: 100ms;
}

@-webkit-keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeOut {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes fadeOut {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}